.videoThumbnail {
    width: 275px;
    height: 150px;
}

.videoTitle {
    font-size: .85em;
    font-weight: bold;
    padding-left: 20px;

}

.videoInfo {
    display: flex;
    flex-direction: row;
    padding-left: 20px;
}

.videoData {
    display: flex;
    flex-direction: row;
    font-size: .7em;
    padding-left: 30px;
}

.videoChannelName {
    font-weight: bold;
}